---
import Layout from '../layout/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import PlanGrid from '../components/PlanGrid.astro'
import ValueProposition from '../components/ValueProposition.astro'
import Gallery from '../components/Gallery.astro'
import ContactFinal from '../components/ContactFinal.astro'
import StickyContact from '../components/StickyContact.astro'
---

<Layout title="Asesoria Comercial de Planes">
  <Header />
  <main>
    <Hero />
    <ValueProposition />
    <PlanGrid />
    <Gallery />
    <ContactFinal />
  </main>
  <StickyContact />
</Layout>
