---
import '../styles/global.css'
const { title = 'Sitio Astro' } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white text-slate-900">
    <slot />
  </body>
</html>
